a,p,ul,li,h1,h2,h3,h4,h5{
	margin: 0;
	padding: 0;
}
*{
	padding: 0;
	margin: 0;
}
html,body{
	font-family: PTSerifRegular;
}

.vebinar-page{
	//start section stylesheet!
	padding: 35px 0 15px 0;
	height: auto;
	background-color: #3c3c3c;
		.headlines{
			margin-bottom: 20px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
				.right{
					width: 70%;
				}
				.left{
					width: 30%;
				}
		}
		.headline{
			display: inline-block;
				h1{
					font:{
						size: 20px;
						weight: 550;
						family: LatoBlack;
					}
					display: inline-block;
					text-transform: uppercase;
					color: $lightGrey-text;
				}
		}
		.vebinar-tools{
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			padding: 16px 15px 26px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-direction: column;
			position: relative;
			background-color: #1c1c1c;
			box-shadow: 0 0 5px 2px rgb(33, 32, 32);
		}

		.videochat-block{
			width: 100%;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			height: 400px;
			.vebinar-window{
				display: block;
				width: 70%;
					iframe{
						width: 100%;
						height: 100%;
						border-top-left-radius: 3px;
						border-bottom-left-radius: 3px;
					}
			}
			.chat-user{
				width: 30%;
				padding: 15px 8px 5px 8px;
				height: 100%;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				border-bottom-right-radius: 3px;
				border-top-right-radius: 3px;
				position: relative;
				background-color: #f3f2f2;
				.comments{
					overflow: auto;
					height: 70%;
				}
					p.comment-box{
						text-align: justify;
						margin: 0 0 15px;
						.like-user{
							vertical-align: super;
							.like{
								width: 35px;
								height: 20px;
								display: inline-block;
								border-radius: 3px;
								text-align: right;
								padding: 0 5px 0 0;
								font-size: 16px;
								color: #fff;
								background: url(http://cpr.uz/files/learn.norma.uz/images/like_1.png) no-repeat center left #636363;
								&:active,
								&:visited{
									color: #1c1c1c;
									background: url(http://cpr.uz/files/learn.norma.uz/images/like_1.png) no-repeat center left #52bb2f;
								}
							}
							.username{
								font-size: 16px;
								color: #4c82c5;
							}
						}
					}

					.chat-footer{
						position: absolute;
							left: 0;
							right: 0;
							bottom: 0;

							.textarea{
								width: 100%;
								height: 85px;
								resize: none;
								border: none;
								outline: none;
								padding: 4px 8px 0 8px;
								position: relative;
									top: 6px;
								background-color: rgba(224, 224, 224, 0.8);
							}
							.submit{
								width: 100%;
								height: 30px;
								cursor: pointer;
								font-size: 16px;
								text-align: center;
								border: none;
								display: block;
								outline: none;
								color: #fff;
								background: #ff8773;
							}
					}
			}
		}
		.tools-footer{
			width: 100%;
			height: auto;
			border-top: 1px solid #3e3e3e;
			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;
			padding: 25px 0 30px;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			flex-direction: column;
			background-color: #1c1c1c;
			box-shadow: 0 0 5px 2px rgb(33, 32, 32);

			.control-button{
				margin-bottom: 30px;
				button{
					border: none;
					border-radius: 50%;
					padding: 4px;
					width: 45px;
					height: 45px;
					outline: none;
					font-size: 18px;
					background-color: #f53f45;
					color: #d6c9ce;
					margin: 0 15px 0 15px;
					box-shadow: 0 0 3px 0 #fda6a9;
					transition: box-shadow 0.3s ease-out;
					&:hover,
					&:focus{
						transition: box-shadow 0.4s ease-in;
						box-shadow: 0 0 6px 0 #dab9b9;
					}
				}
			}
			.stream-url{
				
				input{
					outline: none;
					width: 265px;
					height: 42px;
					padding: 5px;
					font-size: 16px;
					border-radius: 30px;
					border: none;
					color: #1c1c1c;
				}
			}
		}


}